// body {
//     width: 100%;
//     margin: 0;
//     padding: 0;
//   }

$background-color: #fff;
$darker-color: #444;
$lighter-color: #f2f2f2;
$font-family: "Lato", sans-serif;

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  user-select: none;
}

#body {
  height: 100vh;
  width: 100vw;
}

#particles-js {
  background: $background-color;
  // background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}
#particles-js .particles-js-canvas-el {
  width: 100%;
  height: 100%;
  transform: scale(1);
  -webkit-animation: appear 2s ease 0s normal;
  animation: appear 2s ease 0s normal;
}

#header {
  opacity: 1;
  float: none;
  font-family: $font-family;
  text-align: center;
  color: $darker-color;
  align-content: center;
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
}

.inner {
  z-index: 2;
  display: table-cell;
  position: absolute;
  vertical-align: middle;
  margin: 0 auto;
  width: 100%;
}

#lowpoly {
  width: 25vmin;
  vertical-align: middle;
}

#typed {
  font-size: 3vmin;
}
#title {
  font-size: 8vmin;
}

.typed-cursor {
  font-family: "Lato", sans-serif;
  font-size: 3vmin;
  color: $darker-color;
  opacity: 1;
  animation: blink 1s infinite;
}

#icons {
  display: inline-block;
  vertical-align: middle;
}

.icon {
  width: 7vmin;
  height: 7vmin;
  background-color: $darker-color;
  line-height: 7vmin;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  cursor: pointer;
  outline: none;
  margin: 0.35rem;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  border-radius: 50%;
  font-size: 2.8vmin;
  color: $lighter-color;
  transition: all 500ms ease;
}
.icon:hover {
  background: rgba(0, 0, 0, 0);
  color: $darker-color;
  box-shadow: inset 0 0 0 0.42vmin $darker-color;
}

.button {
  border: none;
  background: $darker-color;
  color: $lighter-color;
  padding: 1.4vmin;
  margin: 1.4vmin;
  font-size: 2.5vmin;
  border-radius: 0.7vmin;
  position: relative;
  box-sizing: border-box;
  text-decoration: none;
  /*
-webkit-animation: fadein 1s ease 2s normal;
animation: fadein 1s ease 0s normal;
*/
  transition: all 500ms ease;
}

.button:hover {
  background: rgba(0, 0, 0, 0);
  color: $darker-color;
  box-shadow: inset 0 0 0 0.42vmin $darker-color;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  60% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
